.bgMain, .bg1, .bg2, .bg3, .bg4, .bg5, .bg6  {
    background-image: url(../../assets/imgAccueil/bgMain.svg);
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.bg1 {
    background-image: url(../../assets/imgAccueil/bg1.svg);
}

.bg2 {
    background-image: url(../../assets/imgAccueil/bg2.svg);
}

.bg3 {
    background-image: url(../../assets/imgAccueil/bg3.svg);
}

.bg4 {
    background-image: url(../../assets/imgAccueil/bg4.svg);
}

.bg5 {
    background-image: url(../../assets/imgAccueil/bg5.svg);
}

.bg6 {
    background-image: url(../../assets/imgAccueil/bg6.svg);
}