@mixin responsive($device) {
    // mobile mode portrait
    @if $device == mobile {
        @media screen and (max-width: 575.98px) {
            @content;
        }
    }
    // mobile mode paysage
    @if $device == smartphone {
        @media screen and (max-width: 767.98px) {
            @content;
        }
    }
    // tablette
    @if $device == tablette {
        @media screen and (max-width: 991.98px) {
            @content;
        }
    }
    // desktop
    @if $device == desktop {
        @media screen and (max-width: 1199.98px) {
            @content;
        }
    }
}

.container {
    background-color: #000;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% 40% 30% 10%;
    grid-template-areas: 
    "header header header"
    ". platform ."
    ". nav ."
    ". social .";
    place-items: center;
}

.platform {
    grid-area: platform;
    background-image: url("../../assets/img/plateforme.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 76%;
    width: 100%;
    position: relative;
    top: 3rem;
    right: 2rem;
}

.nav {
    grid-area: nav;
    color: #fff;
    li{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
        @include responsive(mobile) {
            font-size: 2rem;
            margin-bottom: 1.3rem;
        }
        &::after {
            content: '';
            background-color: #fff;
            display: flex;
            height: 0.1rem;
            margin-top: 2rem;
            width: 40rem;
            @include responsive(mobile) {
                width: 25rem;
            }
        }
    }
    :last-child::after {
        content: none;
    }
}

.social {
    grid-area: social;
    display: flex;
    justify-content: space-between;
    min-width: 10rem;
    li {
        height: 3.5rem;
        width: 3.5rem;
        .github, .linkedin {
            height: 100%;
            width: 100%;
            @include responsive(mobile) {
                height: 90%;
                width: 90%;
            }
        }
    }

}

.maskQuestion {
    height: 22.2rem;
    grid-column-start: 2;
    grid-row-start: 2;
    overflow: hidden;
    bottom: 7rem;
    left: 1rem;
    width: 18.5rem;
    position: relative;
    @include responsive(mobile) {
        bottom: 3rem;
        left: 0;
        width: 15.5rem;
    }
    .question {
        position: absolute;
        width: 100rem;
        @include responsive(mobile) {
            width: 80rem;
        }
    }
}

.maskWin {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 210px;
    overflow: hidden;
    position: relative;
    width: 175px;
    bottom: 6rem;
    @include responsive(mobile) {

    }
    .win {
        left: 0;
        position: absolute;
        width: 1000px;
        @include responsive(mobile) {

        }
    }
}