.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% 40% 20% 20%;
    grid-template-areas: 
    "header header header"
    ". . ."
    ". start ."
    ". box .";
    place-items: center;
}

.bgMain, .bg1, .bg2, .bg3, .bg4, .bg5, .bg6  {
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
}

.start {
    background-color: #000000;
    border: 0.2rem solid #fff;
    border-radius: 10rem;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
    grid-area: start;
    height: 12rem;
    opacity: 0.7;
    text-decoration: none;
    width: 12rem;
    outline: none;
    cursor: pointer;
}

.boiteInfo{
    grid-area: box;
    align-items: center;
    background-color: #333;
    border-radius: 25px;
    color: #fff;
    display: flex;
    font-family: 'Dosis', sans-serif;
    justify-content: center;
    padding: 1rem 0;
    position: relative;
    width: 500px;
    z-index: 1;
    .flechesDir{
        width: 40%;
        .flecheGauche, .flecheDroite{
            height: 50px;
        }
        .flecheHautBas{
            height: 100px;
        }
    }
    p{
        width: 40%;
        span{
            text-decoration: underline;
        }
    }
    .croix{
        height: 20px;
        position: absolute;
        top: 12px;
        right: 12px;
        &:hover{
            cursor: pointer;
        }
    }
}

.masquePerso{
    height: 179px;
    left: 46%;
    overflow: hidden;
    position: absolute;
    top: 45%;
    width: 135px;
    .perso{
        height: 296px;
        left: -33px;
        position: absolute;
        top: -54px;
        width: 2506px;
    }
}