@mixin responsive($device) {
    // mobile mode portrait
    @if $device == mobile {
        @media screen and (max-width: 575.98px) {
            @content;
        }
    }
    // mobile mode paysage
    @if $device == smartphone {
        @media screen and (max-width: 767.98px) {
            @content;
        }
    }
    // tablette
    @if $device == tablette {
        @media screen and (max-width: 991.98px) {
            @content;
        }
    }
    // desktop
    @if $device == desktop {
        @media screen and (max-width: 1199.98px) {
            @content;
        }
    }
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20% 45% 15% 20%;
    grid-template-areas: 
    "header header header"
    ". perso ."
    ". start ."
    ". box .";
    @include responsive(mobile) {
        grid-template-areas: 
        "header header header"
        ". perso ."
        ". start ."
        "box box box";
    }
    place-items: center;
    
    .bgMain, .bg1, .bg2, .bg3, .bg4, .bg5, .bg6  {
        background-size: cover;
        background-position: center;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .bgMain {
        background-image: url("../../assets/img/bgMain.svg");
    }

    .bg1 {
        background-image: url("../../assets/img/bg1.svg");
    }

    .bg2 {
        background-image: url("../../assets/img/bg2.svg");
    }

    .bg3 {
        background-image: url("../../assets/img/bg3.svg");
    }

    .bg4 {
        background-image: url("../../assets/img/bg4.svg");
    }

    .bg5 {
        background-image: url("../../assets/img/bg5.svg");
    }

    .bg6 {
        background-image: url("../../assets/img/bg6.svg");
    }

    .start {
        background-color: #000000;
        border: 0.2rem solid #fff;
        border-radius: 10rem;
        color: #fff;
        font-size: 3.5rem;
        grid-area: start;
        height: 14rem;
        opacity: 0.7;
        text-decoration: none;
        width: 14rem;
        outline: none;
        cursor: pointer;
        @include responsive(mobile) {
            font-size: 2rem;
            height: 10rem;
            width: 10rem;
        }
    }

    .boiteInfo{
        grid-area: box;
        align-items: center;
        background-color: #333;
        border-radius: 25px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        max-width: 40rem;
        z-index: 1;
        height: 15vh;
        @include responsive(mobile) {
            margin: 0 2rem;
        }
        @include responsive(smartphone) {
            margin: 0 2rem;
        }
        .flechesDir{
            width: 40%;
            margin: 1rem;
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
            justify-content: center;
            .flecheGauche, .flecheDroite{
                height: 50px;
                @include responsive(mobile){
                    height: 30px;
                }
                @include responsive(smartphone){
                    height: 30px;
                }
            }
            .flecheHautBas{
                height: 100px;
                @include responsive(mobile) {
                    height: 60px;
                }
                @include responsive(smartphone){
                    height: 60px;
                }
            }
        }
        p{
            width: 40%;
            margin: 1rem;
            margin-right: 3rem;
            @include responsive(mobile) {
                font-size: 1.2rem;
            }
            @include responsive(smartphone) {
                font-size: 1.3rem;
            }
            span{
                text-decoration: underline;
            }
        }
        .croix{
            height: 20px;
            position: absolute;
            top: 12px;
            right: 12px;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .masquePerso{
        grid-area: perso;
        height: 179px;
        overflow: hidden;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 135px;
        .perso{
            height: 296px;
            left: -33px;
            position: absolute;
            top: -54px;
            width: 2506px;
        }
    }
}

.boxInvisible {
    opacity: 0;
    display: none;
    transition: all .5s;
}