.bgLeafBlock {
    background-image: url("../../assets/img/leafBlock.svg");
    background-repeat: no-repeat;
    background-position: top;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0;
    font-size: 3rem;
    padding-bottom: 10rem;
}