.menuBurger{
    align-items: center;
    background-color: #000000;
    border: 0.2rem solid #fff;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    height: 6rem;
    opacity: 0.7;
    width: 6rem;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 5rem;
    left: 5rem;
    cursor: pointer;
    span{
        background-color: #fff;
        border-radius: 1rem;
        height: 0.3rem;
        left: 0;
        margin: 0.4rem 0;
        opacity: 1;
        position: relative;
        top: 1.2rem;
        width: 3rem;
    }
    .span1Forward {
        transition: transform 0.5s, width 0.5s, left 0.5s;
        left: 0.5rem;
        transform: rotate(45deg);
        width: 55%;
        transform-origin: top left;
    }
    .span1Reverse {
        transition: transform 0.5s, width 0.5s, left 0.5s;
        left: 0;
        transform: rotate(0);
        width: 50%;
        transform-origin: top left;
    }
    .span2Forward {
        opacity: 0;
        transition: opacity .5s;
    }
    .span2Reverse {
        opacity: 1;
        transition: opacity .5s;
    }
    .span3Forward {
        transition: transform 0.5s, width 0.5s, left 0.5s;
        left: 0.3rem;
        transform: rotate(-45deg);
        width: 55%;
        transform-origin: top left;
    }
    .span3Reverse {
        transition: transform 0.5s, width 0.5s, left 0.5s;
        left: 0;
        transform: rotate(0);
        width: 50%;
        transform-origin: top left;
    }
}