.whoIAm {
    background-color: #000;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 
    "header header header"
    ". profile ."
    ". icons .";
    place-items: center;
}

.profile {
    grid-area: profile;
    display: flex;
    justify-content: space-around;
    .wrapperPhoto {
        text-align: center;
        width: 50%;
        .photo {
            height: 35rem;
        }
    }
    .description {
        color: #fff;
        width: 50%;
        p {
            margin: 0;
        }
        p:first-of-type {
            font-size: 5rem;
        }
        p:nth-of-type(2) {
            font-size: 3rem;
        }
        p:nth-of-type(3) {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        article {
            line-height: 2.5rem;
            strong {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}

.technoIcons {
    grid-area: icons;
    ul {
        display: grid;
        grid-row-gap: 2rem;
        grid-column-gap: 4rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        "html css sass js"
        "jquery angular node git mongo";
        .sizeIcon {
            height: 11rem;
            width: 11rem;
        }
    }
}